div.Style {
  width: 100vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-top: 50px;
  font-size: 20px;
}
input {
  font-size: 20px;
  margin-left: 15px;
}

button {
  font-size: 20px;
  padding: 10px 30px;
  color: black;
  background-color: #fff;
  border: 2px black solid;
  border-radius: 20%;
  margin-left: 700px;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.3s;
}
button:hover {
  color: white;
  background-color: cadetblue;
}

ul h1 {
  text-align: center;
  margin-top: 50px;
}

span {
  color: red;
  font-size: 10px;
  margin-left: 10px;
}

h2 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 3vw;
}

@media(max-width: 768px) {
  button {
    margin-left: 500px; 
  }
}


@media(max-width: 414px) {
  button {
    margin-left: 300px; 
    margin-top: 50px;
  }
  ul h1 {
    text-align: center;
    margin-top: 150px;
  }
}

@media(max-width: 375px) {
  button {
    margin-left: 250px; 
    margin-top: 10px;
  }
  ul h1 {
    text-align: center;
    margin-top: 200px;
  }
}

@media(max-width: 320px) {
  button {
    margin-left: 250px; 
    margin-top: 10px;
  }
  ul h1 {
    text-align: center;
    margin-top: 200px;
  }
  label {
    margin-top: 40px;
    font-size: 16px;
  }
}

@media(orientation: landscape) {
  button {
    margin-left: 250px; 
    margin-top: 10px;
  }
  ul h1 {
    text-align: center;
    margin-top: 200px;
  }
  label {
    margin-top: 40px;
    font-size: 16px;
  }
}